/*------------------------------------*\
    TEMPLATES GLOBAL
\*------------------------------------*/

a {
    color:#5860ff;
    text-decoration: none;
}

a:hover {
    color:#5860ff;
}

div[data-editable="text"] ul,
div[data-editable="text"] ol {
    padding-left: 34px;
}

div[data-editable="text"] ol li,
div[data-editable="text"] ul li {
    margin: 6px 0;
}

/* [ Button container ] */
div[data-editable="button"],
div[data-editable="webinarButton"],
div[data-editable="webform"] button,
div[data-editable="webformNewButton"] button {
    background-color: #5860ff;
    border-radius: 11px;
    box-shadow: 0 10px 30px 1px rgba(38, 45, 175, 0.30);
}

/* [ Button text ] */
div[data-editable="button"] button,
div[data-editable="webinarButton"] button,
div[data-editable="webform"] button,
div[data-editable="webformNewButton"] button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}

/* [ Button :hover ] */
div[data-editable="button"].hover,
div[data-editable="webinarButton"].hover,
div[data-editable="webform"] div[data-type="submit"].hover button,
[data-editable="webformNewButton"].hover button {
    background-color: #0f17b9;
}

div[data-editable="button"].hover button,
div[data-editable="webinarButton"].hover button,
div[data-editable="webform"] div[data-type="submit"].hover button,
[data-editable="webformNewButton"].hover button {
    color: #fff;
}

/* [ Base text ] */
div.text-content,
div[data-editable="webform"] label,
div[data-editable="webform"] input[type="text"],
div[data-editable="webform"] textarea,
div[data-editable="webform"] select,
div[data-editable="webformNew"] label,
div[data-editable="webformNew"] input[type="text"],
div[data-editable="webformNew"] textarea,
div[data-editable="webformNew"] select,
div[data-editable="webformNew"] .directional,
div[data-editable="webinarNew"] label,
div[data-editable="webinarNew"] input[type="text"],
div[data-editable="webinarNew"] textarea,
div[data-editable="webinarNew"] select,
div[data-editable="webinarNew"] .directional{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #272735;
    line-height: 1.3;
}

/* [ Webform text ] */
div[data-editable="webform"] label,
div[data-editable="webform"] input[type="text"],
div[data-editable="webform"] textarea,
div[data-editable="webform"] select,
div[data-editable="webformNew"] label,
div[data-editable="webformNew"] input[type="text"],
div[data-editable="webformNew"] textarea,
div[data-editable="webformNew"] select,
div[data-editable="webformNew"] .directional,
div[data-editable="webinarNew"] label,
div[data-editable="webinarNew"] input[type="text"],
div[data-editable="webinarNew"] textarea,
div[data-editable="webinarNew"] select,
div[data-editable="webinarNew"] .directional {
    font-family:'Roboto', sans-serif;
    font-size:20px;
    font-weight: 300;
    color:#b8b8fd;
}

/* [ Webform inputs ] */
div[data-editable="webform"] input[type="text"],
div[data-editable="webform"] textarea,
div[data-editable="webform"] select,
div[data-editable="webformNew"] input[type="text"],
div[data-editable="webformNew"] [data-item-what="phone"] .fix-table-bug,
div[data-editable="webformNew"] textarea,
div[data-editable="webformNew"] select,
div[data-editable="webinarNew"] input[type="text"],
div[data-editable="webinarNew"] [data-item-what="phone"] .fix-table-bug,
div[data-editable="webinarNew"] textarea,
div[data-editable="webinarNew"] select{
    border: 0;
    border-radius: 6px;
    background-color: #f9f9ff;
}

div[data-editable="webformNew"] .directional::after {
    border-color: #b8b8fd transparent transparent transparent;
}

[data-editable="webformNewItem"].opened .directional::after {
    border-color: transparent transparent #b8b8fd transparent;
}

div[data-editable="webformNew"] [data-item-what="phone"] input[type="text"],
div[data-editable="webinarNew"] [data-item-what="phone"] input[type="text"] {
    border:none;
}

.custom-form [data-editable="webformNewItem"],
.custom-form [data-editable="webformNewButton"],
.custom-form [data-editable="webformNewItem"] [data-editable-item="label"],
.custom-form [data-editable="webformNewItem"] [data-editable-item="field"] {
    height: 50px;
}

.custom-form [data-editable="webformNewItem"] {
    width: 319px;
}











.inner-overview {
    display: table;
    width: 100%;
}

.left-block, .right-block {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
}
.left-block {
    background: #000;
}
.right-block {
    background: #f3f2f4;
}

.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}

.inner-right-block {
    max-width: 620px;
    padding: 4% 6% 2%;
}

.newbutton {
    width: 198px;
    height: 53px;
    top: 491px;
	border-radius: 46px;
	margin-top: 16px;
    left: 637px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px 1px;
    z-index: 2;
    transform-origin: 0px 0px 0px;
    background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 0, 118);
}

.reviews-1 {
    background-color: #f3f2f4;
    padding: 110px 0 115px;
}

.animated.infinite {
    animation-iteration-count: infinite;
}
.mt-10 {
    margin-top: 10px;
}
.img-responsive {
    display: inline-block !important;
}
.pulse {
    animation-name: pulse;
}
img {
    vertical-align: middle;
}

.starry {
	background:url(731254603.png);
}

.wrapper-stars, .evaluation {
    display: inline-block;
}

p.mt-20.mb-20.lh-16 {
    margin: 10px 0;
}

.fw-600 {
    font-weight: 600;
}
.mb-15 {
    margin-bottom: 15px;
}
.verif {
    display: inline-block;
    vertical-align: text-top;
    margin-left: 7px;
    font-size: 18;
	    margin-top: -7px;
}

.pulse {
	animation-name: pulse;
	-webkit-animation-name: pulse;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}
@keyframes pulse {
0% {
transform: scale(0.9);
opacity: 0.9;
}
50% {
transform: scale(1);
opacity: 1;
}
100% {
transform: scale(0.9);
opacity: 0.9;
}
}
@-webkit-keyframes pulse {
0% {
-webkit-transform: scale(0.95);
opacity: 0.7;
}
50% {
-webkit-transform: scale(1);
opacity: 1;
}
100% {
-webkit-transform: scale(0.95);
opacity: 0.7;
}
}

.reviews-2 {
    background-color: #0d0d0d;
    padding: 110px 0 115px;
    color: #ffffff;
}

.mb-50 {
    margin-bottom: 50px;
}
.mt-20 {
    margin-top: 20px;
}
.mb-20 {
    margin-bottom: 20px;
}
.color-light-gray {
    color: #bbbbbb;
}
.flash {
    animation-name: flash;
}

.reviews-3 {
    background-color: #f3f2f4;
    padding: 110px 0 115px;
}

.real-exp {
    padding: 100px 0 100px;
    background: #f3f2f4;
}
.wrapper-real-img {
    padding: 10px 30px 0px;
    border-right: 1px solid #e0dfe1;
    margin-bottom: 15px;
}

h1, .h1 {
    margin-top: 10px;
    margin-bottom: 30px;
    color: #333333;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
	.left-block, .right-block {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

.texthead {
    display: block !important;
	color:#fff;
}
.heaingg {
    display: none !important;
}
}

.heaingg {
    display: block;
	color:#fff
}

.texthead {
    display: none;
}

.anme {
    display: table-cell;
    vertical-align: bottom;
}
.media {
    margin: 20px 0;
}

.imgtexttt {
    display: table-cell;
    padding: 13px;
}
.media-lefttt1 {
    display: table-cell;
}

.imgtexttttt {
    display: table-cell;
    vertical-align: middle !important;
    padding: 0 0 0px 12px;
}
.media-left1 {
    display: table-cell;
}

.img_text_div {
    width: 400px !important;
}